.topbar {
  background-color: black;
  font-family: "Playfair Display";
  font-size: 40px;
  height: 50px;
  left: 0;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.topbar-brand {
  color: white;
  text-decoration: none;
}

.content {
  bottom: 0;
  left: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 65px;
}
